*.retry
*.log
.ansible/
ansible.log

context/
output/

pycache/
*.py[cod]
*$py.class
*.so
venv/
.venv/
env/
.env

.vscode/
.idea/
.DS_Store
Thumbs.db

.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.rc
terraform.rc

*.pem
*.key
*.cer
*.crt
id_rsa
id_rsa.pub