[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.automation_hub]
url = https://console.redhat.com/api/automation-hub/content/published/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
# This variable is expanded inside the container during the build
token = ${ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_TOKEN}

[galaxy_server.galaxy]
url = https://galaxy.ansible.com/